OPENAI_API_KEY="xxx"
QDRANT_API_KEY="xxx"
QDRANTL_URL="https://xxx.sa-east-1-0.aws.cloud.qdrant.io"
LANGFUSE_BASE_URL= "https://cloud.langfuse.com"
LANGFUSE_PUBLIC_KEY="pk-xxx"
LANGFUSE_PRIVATE_KEY="sk-xxx"
